<div class="container">

    <div class="row">
        <h1>Add New Competition Form</h1>
    </div>

    <div class="row">
        {{model | json}}
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input id="name" type="text" class="form-control"
                       [(ngModel)]="model.name" required>
            </div>

            <div class="form-group">
                <label for="shortName">Short Name</label>
                <input id="shortName" type="text" class="form-control"
                       [(ngModel)]="model.shortName" required>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input id="description" type="text" class="form-control"
                       [(ngModel)]="model.description" required>
            </div>

            <div class="form-group">
                TODO list games
            </div>

            <div class="form-group">
                TODO start date
            </div>

            <div class="form-group">
                TODO selections
            </div>

            <div class="form-group">
                <label for="status">Opening Status</label>
                <select id="status" [(ngModel)]="model.status.value" required>
                    <option *ngFor="#status of form.statuses" [(value)]="status.value">{{status.value}}</option>
                </select>
            </div>

            <div class="form-group">
                TODO order
            </div>

            <div class="form-group">
                TODO image
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>

</div>