<div class="container">

    <div class="row">
        <h1>Add New Competition Form</h1>
    </div>

    <div class="row">
        {{model | json}}
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input id="name" type="text" class="form-control"
                       [(ngModel)]="model.name" required>
            </div>

            <div class="form-group">
                <label for="shortName">Short Name</label>
                <input id="shortName" type="text" class="form-control"
                       [(ngModel)]="model.shortName" required>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input id="description" type="text" class="form-control"
                       [(ngModel)]="model.description" required>
            </div>

            <div class="form-group">
                <label for="game">Game</label>
                <select id="game" [(ngModel)]="model.gameId" class="form-control" required>
                    <option *ngFor="#game of form.games" [(value)]="game._id">{{game.name}} - {{game.shortName}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="startDate">Start Date</label>
                <input id="startDate" type="Date" class="form-control"
                       [(ngModel)]="model.start" required>
            </div>

            <div class="form-group">
                <label for="status">Opening Status</label>
                <select id="status" [(ngModel)]="form.newStatus" (ngModelChange)="onStatusSelected(form.newStatus)" class="form-control" required>
                    <option *ngFor="#status of form.statuses" [(value)]="status.value">{{status.value}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="ordered" class="c-input c-checkbox">
                    <input id="ordered" type="checkbox" [(ngModel)]="model.ordered">
                    <span class="c-indicator"></span>
                    Ordered
                </label>
            </div>

            <div class="form-group">
                <label for="image">Image</label>
                <input id="image" type="text" class="form-control"
                       [(ngModel)]="model.image" required>
            </div>

            <button type="button" class="btn btn-default" (click)="createCompetition()">Create</button>
        </form>
    </div>

</div>