
.task-form {
    margin: 40px 0 10px;
}

.task-form__input {
    outline: none;
    border: 0;
    border-bottom: 1px dotted #666;
    border-radius: 0;
    padding: 0 0 5px 0;
    width: 100%;
    height: 50px;
    font-family: inherit;
    font-size: 24px;
    font-weight: 300;
    background: transparent;
}