
.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.btn {
    width: 40px;
    height: 40px;
    font-weight: bold;
    margin: 3px;
}

.btn.top {
    width: 60px;
    height: 40px;
}

.details {
    width: 200px;
    height: 40px;
    font-weight: bold;
    font-size: 20px;
}
