<div class="view">

    <!-- TODO how to do [checked] state properly? -->
    <input class="toggle" type="checkbox" *ngIf="!todo.done" (click)="markAsComplete()">
    <input class="toggle" type="checkbox" *ngIf="todo.done" checked (click)="markAsOpen()">

    <!-- TODO Edit? -->
    <!--<span [hidden]="!edit">editing...you can now change the text</span>-->
    <label [contentEditable]="!todo.done && edit">{{todo.todo}} <small>{{todo.created | date:'fullDate'}}</small></label>

    <button class="destroy" (click)="removeTodo(todo)"></button>

</div>