<header class="header">
    <todo-form></todo-form>
</header>

<section class="main">

    <input class="toggle-all" type="checkbox">
    <label for="toggle-all">Mark all as complete</label>

    <todo-list [(todoList)]="todoList" [(filter)]="filter"></todo-list>

</section>

<footer class="footer">

    <span class="todo-count">
        <strong>({{(todoList | todoCount:'completed').length}}/{{(todoList | todoCount:'open').length}})</strong> completed
    </span>
    <ul class="filters">
        <li>
            <a [ngClass]="{'selected': !filter || filter === ''}" (click)="filter = ''">All</a>
        </li>
        <li>
            <a [ngClass]="{'selected': filter == 'open'}" (click)="filter = 'open'">Active</a>
        </li>
        <li>
            <a [ngClass]="{'selected': filter == 'completed'}" (click)="filter = 'completed'">Completed</a>
        </li>
    </ul>

    <!-- TODO Hidden if no completed items are left ↓ -->
    <button class="clear-completed" (click)="clearCompleted()">Clear completed</button>

</footer>

