<h3>Todo Dashboard</h3>

<div class="g-row">

    <div class="g-col">
        <todo-form></todo-form>
    </div>

    <div class="g-col">

        <h5>Basic Array Pipe (WORKING)</h5>
        Completed ({{ (todoList | todoCount:'completed').length }}) | Open ({{ (todoList | todoCount:'open').length }})
        <hr/>

        <h5>Bind to current component component (WORKING)</h5>
        <div class="task-list">
            <li *ngFor="#todo of todoList; #i = index">
                <div>
                    <todo-list-item [todo]="todo" [index]="i"></todo-list-item>
                </div>
            </li>
        </div>
        <hr/>

        <h5>Bind as property on child (WORKING)</h5>
        <todo-list [(todoList)]="todoList"></todo-list>

    </div>
</div>
