<div class="media">
    <div class="media-left">
        <a href="#">
            <img class="media-object" data-src="{{ competition?.image }}" alt="{{ competition?.shortName }}">
        </a>
    </div>
    <div class="media-body">
        <h2 class="media-heading">{{ competition?.name }}</h2>

        <p>
            {{ competition?.description }}
        </p>

        <p *ngIf="competition">
            <competition-status [competition]="competition" class="pull-sm-right"></competition-status>
        </p>

        <p>
            <button class="btn"
                    (click)="deleteCompetition(competition)"
                    [disabled]="!competition">delete</button>
        </p>

        <ul class="list-group bottom-margin-md">
            <li class="list-group-item" *ngIf="competition && competition.updated">
                Updated: {{competition.updated | date:'short'}}
            </li>
            <li class="list-group-item" *ngIf="competition && competition.start">
                Start: {{competition.start | date:'short'}}
            </li>
            <li class="list-group-item">
                Order: {{competition?.order}}
            </li>
            <li class="list-group-item">
                Pots: {{competition?.pots}}
            </li>
        </ul>

        <div *ngIf="competition && competition.selections">
            <selections-list [selections]="competition.selections"></selections-list>
        </div>

        <div *ngIf="competition && selections" class="col-sm-3">
            <selection-add [selections]="selections" [pots]="competition.pots" [compId]="competition._id"></selection-add>
        </div>
    </div>
</div>

