<ul class="media-list">
    <li class="media" *ngFor="#comp of competitions">
        <div class="media-left">
            <a href="#">
                <img class="media-object" data-src="{{ comp.image }}" alt="{{ comp.shortName }}">
            </a>
        </div>
        <div class="media-body">
            <h2 class="media-heading">{{ comp.name }}</h2>

            <button (click)="loadCompetition(comp)" class="btn btn-primary btn-sm pull-sm-right">GO</button>

            <p>
                {{ comp.description }}
            </p>

            <!--<p>-->
                <!--<em>{{comp.game}}</em>-->
            <!--</p>-->

            <div class="bottom-margin-md">
                <competition-status [competition]="comp"></competition-status>
            </div>

            <ul class="list-group bottom-margin-md">
                <li class="list-group-item">Updated: {{comp.updated | date:'short'}}</li>
                <li class="list-group-item">Started: {{comp.startDate | date:'short'}}</li>
                <li class="list-group-item">Order: {{comp.order}}</li>
            </ul>

            <selections-list [selections]="comp.selections"></selections-list>

        </div>
    </li>
</ul>

