<h4>CompetitionsListComponent</h4>

<div>
    <ul>
        <li *ngFor="#comp of competitions">
            <div>
                <div>
                    <span>
                        <strong>{{comp.name}}</strong> - {{comp.shortName}} <small>{{comp._id}}</small>
                        <button (click)="loadCompetition(comp)">load</button>
                    </span>
                </div>
                <div>
                    <strong>{{comp.game}}</strong>
                    <span>{{comp.description}}</span>
                </div>
                <div>
                    <span><strong>Updated:</strong> {{comp.updated}}</span>
                    <span><strong>Started:</strong> {{comp.startDate}}</span>
                </div>
                <div>
                    <competition-status [competition]="comp"></competition-status>
                </div>
                <div>
                    <span>Order: {{comp.order}}</span>
                </div>
                <div>
                    <span>Image: {{comp.image}}</span>
                </div>
                <selections-list [selections]="comp.selections"></selections-list>
            </div>
            <hr/>
        </li>
    </ul>
</div>
